.cell {
  /* font-size: calc(2vw + 4px); */
  padding: calc(2vmin - 4px);
  border: 1px solid;
  vertical-align: middle;
  overflow-wrap: break-word;
  @apply border-gray-200 dark:border-white/10;
}

.cell.stamped {
  @apply bg-red-600;
  @apply text-white font-medium;
}
